<p id="notice"><%= notice %></p>

<h2>Existing Organisations</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hourly rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.hourly_rate %></td>
        <td><%= link_to 'Show', organisation %></td>
        <td><%= link_to 'Edit', edit_organisation_path(organisation) %></td>
        
        <% if (@userOrganisation.nil?) || !(organisation.id == @userOrganisation.id) %>
          <td><%= link_to 'Join', join_organisation_path(organisation), method: :put %></td>
        <% else %>
          <td><strong>(Your current organisation)</strong></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Create New Organisation</h2>
<%= link_to 'New Organisation', new_organisation_path %>
