

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @organisation.hourly_rate %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back to List', organisations_path %> |
<%= link_to 'Back to Home', root_path %>
