<% if user_signed_in?%>
  <% if current_user.organisation_id.nil?%>
    <p style="color: red">You aren't a member of any organisations.<br/>Join an existing one or create a new one.</p>
  <% else %>
    <h2>My Organisation:</h2>
    <tr>
      <td><h3><%= @userOrganisation.name %></h3></td>
      <td><%= link_to 'Edit Organisation', edit_organisation_path(@userOrganisation.id) %></td>
      <td><%= link_to 'Leave Organisation', leave_organisation_path(@userOrganisation.id), method: :put %></td>
    </tr>

    <h3>Shifts at <%= @userOrganisation.name %></h3>

      
      <% @allUsersAtOrganisation.each do |userAtOrganisation| %>

      <h3>Employee: <%= userAtOrganisation.name %></h3>
      <table border="1">
        <thead>
          <tr>
            <th>Shift date</th>
            <th>Start time</th>
            <th>Finish time</th>
            <th>Break length (minutes)</th>
            <th>Hours worked</th>
            <th>Shift cost ($)</th>
          </tr>
        </thead>

      <tbody>
        
        <% @shiftsForAllUsersAtOrg[userAtOrganisation.id].each do |shiftForAUser| %> <!-- For each shift for a particular user -->
          <tr>
          
            <td><%= ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.start.to_s).strftime("%m-%d-%Y") %></td>
            <td><%= ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.start.to_s).strftime("%I:%M %p") %></td>
            <td><%= ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.finish.to_s).strftime("%I:%M %p") %></td>
            <td><%= shiftForAUser.break_length %></td>
            <td><%= (((ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.finish.to_s).to_time - ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.start.to_s).to_time) / 3600) - (shiftForAUser.break_length.to_d / 60)).round(2) %></td>
            <td><%= ((((ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.finish.to_s).to_time - ActiveSupport::TimeZone.new(@timezone).parse(shiftForAUser.start.to_s).to_time) / 3600) - (shiftForAUser.break_length.to_d / 60)) * @userOrganisation.hourly_rate).round(2) %></td>
          </tr>
        <% end %>
            
        
      </tbody>

      </table>

      <% end %>
      
    
    
  <% end %>

  

  <h3><%= link_to "List organisations or create a new organisation", organisations_path %></h3>

<% end %>